In [4]:
from sqlmodel import Session, select
from beerlog.database import engine
from beerlog.models import Beer

In [9]:
# select query
with Session(engine) as session:
    sql = select(Beer)
    results = session.exec(sql)
    for beer in results:
        print(beer.name)

Brewdog
Two Chefs
Two Chefs

In [8]:
# create/insert query
with Session(engine) as session:
    beer = Beer(name="Two Chefs", style="QPA", flavor=5, image=6, cost=6)
    session.add(beer)
    session.commit()

    sql = select(Beer)
    results = session.exec(sql)
    for beer in results:
        print(beer.name, beer.rate)

Brewdog None
Two Chefs 5
Two Chefs 5